<Module src="./mylib/components.html">
    <Config
        mylib.theme="red"
    ></Config>
</Module>

<Module src="./whatever.html">
</Module>

<Component name="Templating_1">
    <Config>
        <Script>
            config.whatever = 'this';
        </Script>
    </Config>
    <Template>
        <p>There are <em>{{ state.count }}
            {{ state.count|pluralize:"articles,article" }}</em>
            on {{ script.exports.title }}.</p>

        <SomeOtherComponent></SomeOtherComponent>

        {# Show the articles #}
        {% for article in state.articles %}
            <h4 style="color: blue">{{ article.headline|upper }}</h4>
            {% if article.tease %}
            <p>{{ article.tease|truncate:30 }}</p>
            {% endif %}
        {% endfor %}
    </Template>

    <!-- The data below was used to render the template above -->
    <State
        count:=42
        articles:='[
        {"headline": "Modulo released!",
        "tease": "The most exciting news of the century."},
        {"headline": "Can JS be fun again?"},
        {"headline": "MTL considered harmful",
        "tease": "Why constructing JS is risky business."}
        ]'
    ></State>
    <Script>
        script.exports.title = "ModuloNews";
    </Script>

    <TestSuite
        src="./examplelib-tests/Templating_1-tests.html"
    ></TestSuite>

</Component>


