<!-- Want to use Midi? Look below!  -->
<template modulo-embed>

  <Component name="HelloWorld">
    <Props
        label
    ></Props>

    <Template>
        <p>Is ready:{{ midi.isReady }}</p>
        <p>Is error:{{ midi.isError }}</p>
        <p>Is error:{{ midi.error }}</p>

        <button @click:=tonesynth.start>Power On Synth</button>

        {% if midi.isReady %}
            {% for input in midi.inputs %}
                <div class="input">
                    {{ input.name }}
                    <button
                        @click:=midi.selectInput
                        payload="{{ input.id }}"
                    >Select</button>
                </div>
            {% endfor %}

            <div class="keyboard">
                {% for keyInfo in midikeyboard.keys %}
                    {% if midi.lastInputChannel %}
                        <div class="
                            {% if keyInfo.isSharp %}
                                sharp
                            {% endif %}
                            {% if midi.lastInputChannel.notesState|get:keyInfo.i %}
                                active
                            {% endif %}
                            "
                            >
                            <!--@click:=midi.triggerKey-->
                            {% if midi.lastInputChannel.notesState|get:keyInfo.i %}
                                &bull;
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </Template>

    <State
    ></State>

    <Midi></Midi>
    <MidiKeyboard></MidiKeyboard>
    <ToneSynth></ToneSynth>

    <Script>
    </Script>

    <Style>
        .keyboard {
            display: flex;
            --key-width: 30px;
        }

        .keyboard > div {
            width: var(--key-width);
            height: 80px;
            border: 1px solid black;
            z-index: 1;
            position: relative;
        }

        .keyboard > div.active {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        }
        .keyboard > div.sharp {
            background: gray;
            height: 50px;
            margin-left: calc(1px - (var(--key-width) / 2));
            margin-right: calc(1px - (var(--key-width) / 2));
            z-index: 2;
        }
    </Style>
  </Component>


</template>

<!-- Finally, include a Modulo CDN link & activate (at the bottom) -->
<script src="https://cdn.jsdelivr.net/npm/webmidi@next/dist/iife/webmidi.iife.js"></script>
<script src="https://unpkg.com/tone"></script>
<script src="/js/Modulo.js"></script>
<script src="/demos/mdu/cparts/Midi.js"></script>


<script>Modulo.defineAll();</script>


<!-- Use it anywhere, each instance is isolated: -->
<hr />
<x-HelloWorld></x-HelloWorld>
<hr />

<!--
    REMEMBER: While the demos show embedded components (with template
    modulo-embed), this is only to make it easier to copy & paste into one
    file. Always separate your components into a Library early on to avoid
    issues later on. E.g., use code like:

    <Modulo>
        <Library src="/static/components/MyWebComponents.html"></Library>
    </Modulo>
-->


<!-- ######################################################################### -->
<!-- # BOILERPLATE FOR MODULO DEMOS    ####################################### -->
<div style="position: absolute; top: 0; right: 0; font-size: 20px; background: #ddd;">
    <a href="https://modulojs.org/demos/">&#x300A; BACK</a> | <a href="#" onclick="
    Modulo.fetchQ.enqueue('.', text => {
        this.nextSibling.textContent = text;
        navigator.clipboard.writeText(text); 
        this.textContent += '  [☑ Copied to clipboard!]';
    })">COPY DEMO</a><pre></pre>
</div>
<!-- ######################################################################### -->

