<!-- Want to use Tone to build synths? Look below!  -->
<template modulo-embed>

  <Component name="HelloWorld">
    <Props
        label
    ></Props>

    <Template>
        <div class="synth controls" style="display: flex">
            <h2>MODULO<br />SYNTH</h2>
            <div>&nbsp;</div>
            <label><h2>Dampening</h2>
                <input [state.bind] name="dampening" type="range"
                    min="1" max="7000" step="1" />
            </label>

            <label><h2>Resonance</h2>
                <input [state.bind] name="resonance" type="range"
                    min="0.0" max="1.0" step="0.01" />
            </label>

            <label><h2>Reverb</h2>
                <input [state.bind] name="wet" type="range"
                    min="0.0" max="1.0" step="0.01" />
            </label>


            <label><h2>OSC1</h2>
                <input [state.bind] name="voice0" type="range"
                    min="0.0" max="1.0" step="0.01" />
            </label>

            <label><h2>OSC2</h2>
                <input [state.bind] name="voice1" type="range"
                    min="0.0" max="1.0" step="0.01" />
            </label>

            <label><h2>Vibrato</h2>
                <input [state.bind] name="vibratoAmount" type="range"
                    min="0.0" max="1.0" step="0.01" /> <br/>
            </label>
            <label><h2>Vib Rate</h2>
                <input [state.bind] name="vibratoRate" type="range"
                    min="0.0" max="1.0" step="0.01" />
            </label>

        </div>

        <div style="display: flex">
            <div class="synth" style="display: flex">
                <h2>SEQ<br />
                {% if tone.isStarted %}
                    <button @click:=tone.stop><span alt="Stop">◼</span></button>
                {% else %}
                    <button @click:=tone.start><span alt="Play">▶</span></button>
                {% endif %}
                </h2>
                {% for i, note in state.notes %}
                    <label
                        class="step {% if tone.sequence|stepprogress == i|number %}active{% endif %}"
                        @click:=script.selectSeq payload:="{{ i }}">
                        {{ note }}
                    </label>
                {% endfor %}
            </div>

            <div style="width: 150px" class="synth">
                <h2>MIX</h2>
                <label>
                    <input [state.bind] name="volume" type="range"
                        min="-60.0" max="-0.1" step="0.1" />
                </label>

                <input type="range" value="{{ tone.meter|getval }}"
                      min="-60.0" max="-0.1" disabled />
                <div style="position: relative; top: -20px;">
                  -60db <span style="float: right">0db</span>
                </div>
            </div>
        </div>

        <div class="keyboard">
            {% for key in midikeyboard.keys %}
                <div class="
                    {% if key.isSharp %}
                        sharp
                    {% endif %}
                    "
                    @mousedown:=tone.noteOn
                    @mouseup:=tone.noteOff
                    payload="{{ key.letter }}{{ key.octave }}"
                    >
                    {{ key.letter }}
                </div>
            {% endfor %}
        </div>
    </Template>

    <State
        volume:=-6.0
        resonance:=0.1
        detune:=0.0
        voice0:=1.0
        voice1:=1.0
        vibrato-amount:=0.0
        vibrato-rate:=1.0
        portamento:=0.0
        dampening:=3000
        wet:=0.1
        modulation-index:=2.0
        notes:='["C3", "C3", "C3", "C3", "C3", "C3", "C3", "C3" ]'
    ></State>
    <MidiKeyboard></MidiKeyboard>


    <Tone
        Meter
        PluckSynth=state
        Reverb=state
        MonoSynth:='{
            "oscillator": {
                "type": "sawtooth"
            },
            "envelope": {
                "attack": 0.01,
                "sustain": 0.0,
                "decay": 0.5,
                "release": 0.5
            }
        }'
        Sequence=state.notes
    ></Tone>
        <!--DuoSynth=state-->
        <!--FMSynth=state-->
        <!--Sequence:='["C3", "C3", "D3", "F3", "F#3", "C3"]'-->
        <!--:='{ "frequency": "C3" }'-->

    <Script>

        function initializedCallback() {
            setInterval(() => {
                if (tone.isStarted) {
                    element.rerender();
                }
            }, 100); // ensure 10x updates per second
        }

        function selectSeq(i) {
            // Just cycle through letters
            const currentNote = state.notes[Number(i)];
            const currentLetter = currentNote[0];
            const nextLetter = { C: 'D', D: 'E', E: 'F', F: 'G', G: 'A', A: 'B', B: 'C' }[currentLetter];
            state.notes[Number(i)] = nextLetter + currentNote.substr(1);
            cparts.state.propagate('notes', state.notes); // ensure gets updated
        }
    </Script>

    <Style>
        .keyboard {
            display: flex;
            --key-width: 30px;
        }

        .keyboard > div {
            width: var(--key-width);
            height: 80px;
            border: 1px solid black;
            z-index: 1;
            position: relative;
        }

        .keyboard > div.active {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        }
        .keyboard > div.sharp {
            background: gray;
            height: 50px;
            margin-left: calc(1px - (var(--key-width) / 2));
            margin-right: calc(1px - (var(--key-width) / 2));
            z-index: 2;
        }

        button, .step {
            font-family: monospace;
            font-size: 13px;
            font-weight: bold;
            border-radius: 1px 10px 1px 10px;
            border: 1px solid  #b90183;
            color: black;
            padding: 5px;
            margin: 5px;
        }

        button:active {
            box-shadow: inset 5px 5px 1px 1px hsla(0,0%,39.2%,.3);
        }

        .step.active {
            color: white;
            background: #b90183;
        }

        .synth {
            font-family: monospace;
            border:  2px solid #b90183 ;
            border-radius: 1px 10px 1px 10px;
            padding: 20px;
            margin: 20px;
        }
        .synth h2 {
            border-radius: 10px 1px 10px 1px;
            color: white;
            background: #b90183;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            padding: 2px;
        }
    </Style>
  </Component>


</template>

<!-- Finally, include a Modulo CDN link & activate (at the bottom) -->
<script src="https://unpkg.com/tone"></script>
<script src="/js/Modulo.js"></script>
<script src="/demos/mdu/cparts/Midi.js"></script>
<script src="/demos/mdu/cparts/ToneJsAdaptor.js"></script>


<script>Modulo.defineAll();</script>


<!-- Use it anywhere, each instance is isolated: -->
<hr />
<x-HelloWorld></x-HelloWorld>
<hr />

<!--
    REMEMBER: While the demos show embedded components (with template
    modulo-embed), this is only to make it easier to copy & paste into one
    file. Always separate your components into a Library early on to avoid
    issues later on. E.g., use code like:

    <Modulo>
        <Library src="/static/components/MyWebComponents.html"></Library>
    </Modulo>
-->


<!-- ######################################################################### -->
<!-- # BOILERPLATE FOR MODULO DEMOS    ####################################### -->
<div style="position: absolute; top: 0; right: 0; font-size: 20px; background: #ddd;">
    <a href="https://modulojs.org/demos/">&#x300A; BACK</a> | <a href="#" onclick="
    Modulo.fetchQ.enqueue('.', text => {
        this.nextSibling.textContent = text;
        navigator.clipboard.writeText(text); 
        this.textContent += '  [☑ Copied to clipboard!]';
    })">COPY DEMO</a><pre></pre>
</div>
<!-- ######################################################################### -->

