<Component name="MiniExcel">
  <Template>
      <label>${{ state.col }}${{ state.row }}=<input [state.bind] name="formula" /></label>
      <table>
          <thead>
              <tr>
                  <th></th>
                  {% for col in state.columns %}
                      <th>{{ col }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for row in state.rows %}
                  <tr>
                      <th>{{ row }}</th>
                      {% for col in state.columns %}
                          <td
                            @click:=script.cellClick
                            payload:='[ "{{ col }}", "{{ row }}" ]'
                            class="
                              {% if state.row == row %}
                                  active-row
                              {% endif %}
                              {% if state.col == col %}
                                  active-col
                              {% endif %}
                            ">
                              {{ state.output|get:row|get:col }}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </Template>

  <State
      col="A"
      row="1"
      formula="Hello world!"
      columns:=[]
      rows:=[]
      cellformulas:={}
      output:={}
  ></State>

  <Script>
      console.log('factory for miniexcel');

      // TODO: fix with proper extension
      function initializedCallback(renderObj) {
          console.log('getting initialized', renderObj);
          setRowsAndCols(1, 20, 'A', 'Z');
          updateOutput();
      }

      function setRowsAndCols(startRow, endRow, startCol, endCol) {
          state.columns = [];
          let colChar = startCol;
          while (colChar <= endCol) {
              state.columns.push(colChar);
              colChar = String.fromCharCode(colChar.charCodeAt(0) + 1);
          }
          state.rows = [];
          let row = startRow;
          while (row < endRow) {
              state.rows.push("" + row);
              row++;
          }
      }

      function updateOutput() {
          state.output = {};
          for (const row of state.rows) {
              state.output[row] = {};
              for (const col of state.columns) {
                  const key = '$' + state.col + '$' + state.row;
                  if (key in state.cellformulas) {
                      state.output[row][col] = state.cellformulas[key];
                  } else {
                      state.output[row][col] = '';
                  }
              }
          }
      }

      function cellClick(payload) {
          const [ col, row ] = payload;
          state.col = col;
          state.row = row;
          const key = '$' + state.col + '$' + state.row;
          state.formula = key in state.cellformulas ? state.cellformulas[key] : '';
      }
  </Script>

  <Style>
      :host {
          border: 2px solid pink;
          overflow: auto;
          max-width: 300px;
          display: block;
          --accent: pink;
      }

      tr {
          min-height: 1rem;
      }
      td {
          border: 4px solid gray;
          min-width: 1rem;
      }
      td.active-row {
          border-bottom-color: var(--accent);
          border-top-color: var(--accent);
      }
      td.active-col {
          border-left-color: var(--accent);
          border-right-color: var(--accent);
      }
      td.active-row.active-col {
          background: var(--accent);
      }
  </Style>

</Component>

