<script src="/js/Modulo.js"></script>
<script src="/demos/mdu/cparts/TestSuite.js"></script>

<template modulo-embed>
    <Component name="TestReporter">
        <Template>
            <h1>Status:
                {% if state.success != null %}
                    {% if state.success %}
                        <span style="background: seagreen">OK</span>
                    {% else %}
                        <span style="background: red">FAILURE</span>
                    {% endif %}
                {% else %}
                    <button @click:=script.doTests>Run tests</button>
                {% endif %}
            </h1>
            <p><em>Tip: Use the Developer Console to see the output.</em></p>
        </Template>
        <State
            success:=null
        ></State>
        <Script>
            function doTests() {
                state.success = Modulo.cmd.test();
            }
        </Script>
    </Component>

    <!-- Load tests for core Modulo.js library -->
    <Library src="/demos/tests/reconciler1.test.html"></Library>
    <Library src="/demos/tests/reconciler2.test.html"></Library>
    <Library src="/demos/tests/reconciler3.test.html"></Library>
    <Library src="/demos/tests/reconciler-directives.test.html"></Library>
    <Library src="/demos/tests/mtl.test.html"></Library>
    <Library src="/demos/tests/utils.test.html"></Library>
    <Library src="/demos/tests/composition.test.html"></Library>
    <Library src="/demos/tests/browser_build.test.html"></Library>
    <Library src="/demos/tests/domcursor.test.html"></Library>
    <Library src="/demos/tests/cparts/component_mode.test.html"></Library>
    <Library src="/demos/tests/cparts/component.test.html"></Library>
    <Library src="/demos/tests/cparts/config.test.html"></Library>
    <Library src="/demos/tests/cparts/state.test.html"></Library>

    <!-- Load tests for documentation examples -->
    <Library namespace="eglib" src="/components/examplelib.html"></Library>
    <Library namespace="embeglib" src="/components/embeddedexampleslib.html"></Library>

</template>

<script> Modulo.defineAll() </script>

<x-TestReporter></x-TestReporter>

