<script Modulo
    src="/js/Modulo.js"
    -src="/demos/tests/core_functionality.test.html"
    -name="x"
></script>

<script src="/demos/mdu/cparts/TestSuite.js"></script>

<template id="TestReporter">
    <Component name="TestReporter">
        <Template>
            {% if state.success != null %}
                {% if state.success %}
                    <h1 style="background: seagreen">OK</h1>
                {% else %}
                    <h1 style="background: red">FAILURE</h1>
                {% endif %}
            {% else %}
                <button @click:=script.doTests>Run tests</button>
            {% endif %}
            <p><em>Tip: Use the Developer Console to see the output.</em></p>
        </Template>
        <State
            success:=null
        ></State>
        <Script>
            console.log('Running factory for Script for test reporter');
            function doTests() {
                if (state.success === null) { // prevent double runs
                    state.success = modulo.registry.commands.test(modulo);
                }
            }
        </Script>
    </Component>

    <!--
    <Library src="/demos/tests/core_functionality.test.html"></Library>
    -->

    <!-- Load tests for core Modulo.js library -->
    <!--
    <Library src="/demos/tests/reconciler1.test.html"></Library>
    <Library src="/demos/tests/reconciler2.test.html"></Library>
    <Library src="/demos/tests/reconciler3.test.html"></Library>
    <Library src="/demos/tests/reconciler-directives.test.html"></Library>
    <Library src="/demos/tests/mtl.test.html"></Library>
    <Library src="/demos/tests/utils.test.html"></Library>
    <Library src="/demos/tests/composition.test.html"></Library>
    <Library src="/demos/tests/browser_build.test.html"></Library>
    <Library src="/demos/tests/domcursor.test.html"></Library>
    <Library src="/demos/tests/cparts/component_mode.test.html"></Library>
    <Library src="/demos/tests/cparts/component.test.html"></Library>
    <Library src="/demos/tests/cparts/config.test.html"></Library>
    <Library src="/demos/tests/cparts/state.test.html"></Library>
    -->

    <!-- Load tests for documentation examples -->
    <!--
    <Library namespace="eglib" src="/components/examplelib.html"></Library>
    <Library namespace="emblib" src="/components/embeddedexampleslib.html"></Library>
    -->

    <!-- TODO: Rename & reorg tests to be more clear what tests what -->
</template>

<script>
    modulo.loadFromDOM(document.getElementById('TestReporter').content);
</script>

<x-TestReporter></x-TestReporter>

