<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title>Modulo.js</title>
    <link rel="stylesheet" href="/js/thirdparty/codemirror_5.63.0/codemirror_bundled.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/img/mono_logo.png" />
    <script src="/js/Modulo.js"></script>
    <script src="/js/thirdparty/codemirror_5.63.0/codemirror_bundled.js"></script>
    <mod-load namespace="mdu" src="/components/core.html"></mod-load>
    <mod-load namespace="eg" src="/components/examplelib.html"></mod-load>
</head>

<body>

<!-- <mdu-Hero></mdu-Hero> -->

<div class="IndexWrapper">
    <div class="Tagline">
        <!--<h1 class="Tagline-logo"><span alt="Modulo operator">%</span></h1>-->
        <div class="Tagline-logo">
            <img src="/img/mono_logo_percent_only.png" class="Tagline-logoimg" />
        </div>
        <h1 class="Tagline-title">modulo</h1>
        <h2>A tiny JavaScript Web Component framework</h2>
        <ul>
            <li>Fewer than 1000 lines of highly-documented code</li>
            <li>Component system inspired by React, Svelte, and Polymer</li>
            <!--<li>Modular with opinionated defaults and few assumptions</li>-->
            <li>A dependency-free, "no fuss" drop-in for existing web apps</li>
        <ul>
    </div>

    <main>
        <mdu-TabSet modulo-ssg-skip>

            <div name="Hello">

<mdu-CodeExample
text='
<template>
    <button @click:=script.countUp>Hello {{ state.num }}</button>
</template>
<state num:=42
></state>
<script>
    function countUp() {
        state.num++;
    }
</script>
'>
</mdu-CodeExample>

            </div>

            <div name="Simple">

<mdu-CodeExample
text='
<template>
    Components can use <strong>any</strong> number
    of <em title="Component Parts">CParts</em>.
</template>
<style>
    em { color: darkblue; }
    * { text-decoration: underline; }
</style>
'>
</mdu-CodeExample>

            </div>


            <div name="ToDo">

<mdu-CodeExample
text='
<template>
<ol>
    {% for item in state.list %}
        <li>{{ item }}</li>
    {% endfor %}
    <li>
        <input [state.bind] name="text" />
        <button @click:=script.addItem>Add</button>
    </li>
</ol>
</template>

<state
    list:=&#39;["Milk", "Bread", "Candy"]&#39;
    text="Beer"
></state>

<script>
    function addItem() {
        state.list.push(state.text); // add to list
        state.text = ""; // clear input
    }
</script>
'>
</mdu-CodeExample>


            </div>

            <div name="API">

<mdu-CodeExample
text='
<template>
<p>{{ state.name }} | {{ state.location }}</p>
<p>{{ state.bio }}</p>
<a href="https://github.com/{{ state.search }}/" target="_blank">
    {% if state.search %}github.com/{{ state.search }}/{% endif %}
</a>
<input [state.bind] name="search"
    placeholder="Type GitHub username" />
<button @click:=script.fetchGitHub>Get Info</button>
</template>

<state
    search=""
    name=""
    location=""
    bio=""
></state>

<script>
    function fetchGitHub() {
        fetch(`https://api.github.com/users/${state.search}`)
            .then(response => response.json())
            .then(githubCallback);
    }
    function githubCallback(apiData) {
        state.name = apiData.name;
        state.location = apiData.location;
        state.bio = apiData.bio;
        element.rerender();
    }
</script>
'>
</mdu-CodeExample>


            </div>

            <div name="Prime">
<mdu-CodeExample
text='
<template>
  <div class="grid">
    {% for i in script.exports.range %}
      <div @mouseover:=script.setNum
        class="
            {# If-statements to check divisibility in template: #}
            {% if state.number == i %}number{% endif %}
            {% if state.number lt i %}hidden{% else %}
              {% if state.number|divisibleby:i %}whole{% endif %}
            {% endif %}
        ">{{ i }}</div>
    {% endfor %}
  </div>
</template>

<state
    number:=76
></state>

<script>
    // Getting big a range of numbers in JS. Use "script.exports"
    // to export this as a one-time global constant.
    // (Hint: Curious how it calculates prime? See CSS!)
    script.exports.range = 
        Array.from({length: 75}, (x, i) => i + 2);
    function setNum(ev) {
        state.number = Number(ev.target.textContent);
    }
</script>

<style>
.grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    color: #ccc;
    font-weight: bold;
}
.grid > div {
    border: 1px solid #ccc;
    cursor: crosshair;
    transition: 0.2s;
}
div.whole {
    color: white;
    background: #B90183;
}
div.hidden {
    background: #ccc;
    color: #ccc;
}

/* Color green and add asterisk */
div.number { background: green; }
div.number::after { content: "*"; }
/* Check for whole factors (an adjacent div.whole).
   If found, then hide asterisk and green. */
div.whole ~ div.number { background: #B90183; }
div.whole ~ div.number::after { opacity: 0; }
</style>
'></mdu-CodeExample>

            </div>



            <div name="MemoryGame">

<mdu-CodeExample
text='
<!-- A much more complicated example application -->
<template>
{% if not state.cards.length %}
    <h3>The Symbolic Memory Game</h3>
    <p>Choose your difficulty:</p>
    <button @click:=script.setup click.payload=8>2x4</button>
    <button @click:=script.setup click.payload=16>4x4</button>
    <button @click:=script.setup click.payload=36>6x6</button>
{% else %}
    <div class="board
        {% if state.cards.length > 16 %}hard{% endif %}">
    {# Loop through each card in the "deck" (state.cards) #}
    {% for card in state.cards %}
        {# Using "key=" to speed up DOM reconciler #}
        <div key="c{{ card.id }}"
            class="card
            {% if state.revealed|includes:card.id %}
                flipped
            {% endif %}
            "
            style="
            {% if state.win %}
                animation: flipping 0.5s infinite alternate;
                animation-delay: {{ card.id }}.{{ card.id }}s;
            {% endif %}
            "
            @click:=script.flip
            click.payload="{{ card.id }}">
            {% if state.revealed|includes:card.id %}
                {{ card.symbol }}
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <p style="{% if state.failedflip %}
                color: red{% endif %}">
        {{ state.message }}</p>
{% endif %}
</template>

<state
    message="Good luck!"
    win:=false
    cards:=[]
    revealed:=[]
    lastflipped:=null
    failedflip:=null
></state>

<script>
const symbolsStr = "%!@#=?&+~÷≠∑µ‰∂Δƒσ"; // 16 options
function setup(ev, payload) {
    const count = Number(payload);
    let symbols = symbolsStr.substr(0, count/2).split("");
    symbols = symbols.concat(symbols); // duplicate cards
    let id = 0;
    while (id < count) {
        const index = Math.floor(Math.random()
                                    * symbols.length);
        const symbol = symbols.splice(index, 1)[0];
        state.cards.push({symbol, id});
        id++;
    }
}

function failedFlipCallback(ev) {
    // Remove both from revealed array & set to null
    state.revealed = state.revealed.filter(
            id => id !== state.failedflip
                    && id !== state.lastflipped);
    state.failedflip = null;
    state.lastflipped = null;
    state.message = "";
    element.rerender();
}

function flip(ev, id) {
    if (state.failedflip !== null) {
        return;
    }
    id = Number(id);
    if (state.revealed.includes(id)) {
        return; // double click
    } else if (state.lastflipped === null) {
        state.lastflipped = id;
        state.revealed.push(id);
    } else {
        state.revealed.push(id);
        const {symbol} = state.cards[id];
        const lastCard = state.cards[state.lastflipped];
        if (symbol === lastCard.symbol) {
            // Successful match! Check for win.
            const {revealed, cards} = state;
            if (revealed.length === cards.length) {
                state.message = "You win!";
                state.win = true;
            } else {
                state.message = "Nice match!";
            }
            state.lastflipped = null;
        } else {
            state.message = "No match.";
            state.failedflip = id;
            setTimeout(failedFlipCallback, 1000);
        }
    }
}
</script>

<style>
h3 {
    background: #B90183;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    width: 100%;
    height: 150px;
    width: 150px;
}
.board.hard {
    grid-gap: 1px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
.board > .card {
    background: #B90183;
    border: 2px solid black;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    min-height: 15px;
    transition: background 0.3s, transform 0.3s;
    transform: scaleX(-1);
    padding-top: 2px;
    color: #B90183;
}
.board.hard > .card {
    border: none !important;
    padding: 0;
}
.board > .card.flipped {
    background: #FFFFFF;
    border: 2px solid #B90183;
    transform: scaleX(1);
}

@keyframes flipping {
    from { transform: scaleX(-1.1); background: #B90183; }
    to {   transform: scaleX(1.0);  background: #FFFFFF; }
}
</style>
'>
</mdu-CodeExample>

            </div>


            </div>
        </mdu-TabSet>
    </main>
</div>



<span id="below"></span>
<mdu-Navbar selected="about"></mdu-Navbar>

<main id="About">
    <section>
        <aside class="TitleAside">
            <h3><span alt="Null set">∅</span></h3>
            <h3>Fewer</h3>
            <h3>assumptions</h3>
            <p><a href="start.html">Get started now &#187;</a></p>
        </aside>
        <aside>
            <p><strong>Zero set-up</strong> - Like the golden age of jQuery,
            just drop it into any HTML file.  Unlike jQuery, that 1 file packs
            in the creature-comforts of a modern component framework.</p>
            <!--
            a modern component system, a swappable templating language based
            on Liquid-syntax, DOM resolution, and more.
            , a tiny
            build system to pack your CSS and JS for production, and even debug
            tools.</p>-->

            <p><strong>Very vanilla</strong> -  Modulo doesn't re-invent any
            wheels. Like Polymer (LitElement) or Skate.js, Modulo is built as a
            thin-layer over web standards that are now well-supported. In fact,
            if used purely for stateless components, it's just HTML templating
            and CSS!</p>

            <p><strong>Progressive enhancement</strong> - JAMStack is fine and
            all, but what about all our existing server-side apps in Ruby on
            Rails, Python and Django, or that one home-grown PHP monster that
            will never go away? Modulo was made to give structure and
            convenience to that extra sprinkle of JavaScript that will make
            your "traditional" web apps <em>shine</em>.</p>
        </aside>
    </section>

    <section>
        <aside>
            <p><strong>CParts</strong> - Create components by putting together
            one or more Component Parts or <em>CParts</em>. Mix Script, Style,
            State, Props, and Templates to make components that have one or
            all, or multiples, of these features. Combine CParts between
            components for a powerful system of "composition-based" inheritance
            that's more familiar to web developers.</p>
            <p><strong>Everything is swappable</strong> - Components configure
            themselves, meaning you can "mix and match" templating languages,
            or try out DOM-resolution on or off per-component basis.</p>
            <p><strong>Lifecycle hooks and directives</strong> - Hook your
            own code into the component rendering lifecycle, either through
            callbacks, or by defining custom attribute-based directives.</p>
        </aside>
        <aside>
            <h3><span alt="Sigma">Σ</span></h3>
            <h3>More<br />modular</h3>
            <p><a href="docs.html">Read the docs</a></p>
        </aside>
    </section>



    <section>
        <aside class="TitleAside">
            <h3><span alt="Modulo operator">%</span></h3>
            <h3>Similar<br />(but&nbsp;simpler)</h3>
            <p><a href="/literate/src/Modulo.html">Read the source</a></p>
        </aside>

        <aside>
            <p><strong>"It's like React"</strong> - Modulo is
            batteries-included to be like React.js or Vue.js, except without
            the complications of dependencies or build systems. You get props,
            state, lifecycle methods, smart DOM resolution, encapsulated
            components, and a simple namespace and library loading system.</p>

            <p><strong>Clean & concise</strong> - The code-base is intentionally kept
            short &amp; sweet: Under 1000
            <abbr title="Source Lines of Code - This counts 'physical lines' and thus does not include comments, documentation, blanks, etc">SLOC</abbr>,
            80 char lines, 4 spaces of
            indent, and a <abbr title="Functions have a cyclomatic complexity of 3 or lower">low-complexity</abbr>
            imperative style. When something goes wrong,
            <tt>git blame</tt> Modulo.</p>

            <p><strong>A basis for whatever comes next</strong> - Want to write
            your own component framework, but don't want to start from scratch?
            Read the "literate" code for a starting spot, and fork away!</p>
        </aside>
    </section>

</main>

    </section>
</main>


<main>
    <section>
        <aside>
            <img src="https://i.imgur.com/BLbcneR.jpg" alt="Michael at a laptop" style="float: left; margin-right: 10px; width: 100px;" /><br />
            <h3>Learn JavaScript from me</h3>
            <p><strong>Shameless plug:</strong> Hi, I'm Michael. I also teach
            coding courses covering Python fundamentals, Python / Django, the
            cutting-edge of React JavaScript, and Computer Science for job
            interview prep.  Modulo is my thing. Kickstart Coding is also my
            thing.</p>
            <p><a href="https://kickstartcoding.com/?utm=ugh_i_hate_marketing">$299 / month, for "custom paced" full-stack
            training</a></p>
        </aside>
        <!--
        <aside style="border: none" class="TitleAside">
            <p>
                <a href="https://kickstartcoding.com/">
                    <img src="https://i.imgur.com/JTGfM2r.png" /><br />
                </a>
            </p>
            <h3><small>SPONSORED BY</small> Kickstart&nbsp;Coding</h3>
            <p><a href="">$299 / month, for "custom paced" full-stack
            training</a></p>
        </aside>
        -->
    </section>


    <!--
    <p class="codepen" data-height="330" data-theme-id="light" data-default-tab="html,result" data-user="kickstartcoding" data-slug-hash="KKgqOzg" style="height: 330px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="ModuloTest">
    <span>See the Pen <a href="https://codepen.io/kickstartcoding/pen/KKgqOzg">
    ModuloTest</a> by Kickstart Coding (<a href="https://codepen.io/kickstartcoding">@kickstartcoding</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    -->
</main>

<script>Modulo.defineAll();</script>

<footer>
    (C) 2021 - Michael Bethencourt - Documentation under LGPL 3.0
</footer>

</body>
</html>
