<!--
    mws Library:
    - Components for Modulo WebSite
    - Note how most of actual HTML, CSS, and JS is in separate files in the
      mws/ subdirectory.
-->

<Component namespace="mws" name="Page" mode="vanish-into-document">
    <Props
        navbar
        docbarselected 
        pagetitle
    ></Props>
    <Style -src="/libraries/mws/Page.css"></Style>
    <Template -src="/libraries/mws/Page.html"></Template>
    <Script>
        console.log('mws-Page/Script is running', modulo);
    </Script>
</Component>


<Component namespace="mws" name="DevLogNav" mode="vanish">
    <Props
        fn
    ></Props>
    <Template -src="/libraries/mws/DevLogNav.html"></Template>
    <State
        data:='[
            ["2022-03", "Next steps for alpha"],
            ["2021-09", "Thoughts on design"],
            ["2021-01", "FAQ"]
        ]'
    ></State>
</Component>


<Component namespace="mws" name="DocSidebar">
  <Props
      path
      showall
  ></Props>
  <Template -src="/libraries/mws/DocSidebar.html"></Template>
  <State
      menu:=[]
  ></State>
  <Script -src="/libraries/mws/DocSidebar.js"></Script>
  <Style -src="/libraries/mws/DocSidebar.css"></Style>
</Component>

<Component namespace="mws" name="Demo">
    <!-- TODO: Refactor the following to avoid hacky props-->
    <Props
        text
        text2
        text3
        ttitle
        ttitle2
        ttitle3
        demotype
        fromlibrary
    ></Props>
    <Template -src="/libraries/mws/Demo.html"></Template>
    <State
        tabs:=[]
        selected:=null
        preview=""
        text=""
        nscounter:=1
        showpreview:=false
        showclipboard:=false
        fullscreen:=false
    ></State>
    <Script -src="/libraries/mws/Demo.js"></Script>
    <Style -src="/libraries/mws/Demo.css"></Style>
</Component>


<Component namespace="mws" name="Section">
    <Props
        name
    ></Props>
    <Template>
        <a class="secanchor"
            title="Click to focus on this section."
            id="{{ props.name }}"
            name="{{ props.name }}"
            href="#{{ props.name }}">#</a>
        <h2>{{ component.originalHTML|safe }}</h2>
    </Template>
    <Style>
        :host {
            position: relative;
        }
        h2 {
            font-weight: bold;
            color: var(--highlight-color);
            margin-bottom: 0;
        }
        a.secanchor {
            padding-top: 100px;
            color: var(--highlight-color);
            opacity: 0.3;
            display: block;
        }
        :host:hover .Section-helper {
            opacity: 1.0;
        }
    </Style>
</Component>


<Component namespace="mws" name="AllExamples">
    <Template>
        {% for example in state.examples %}
            {% if example.name == state.selected %}
                <div class="Example expanded">
                    <button class="tool-button" alt="Edit" title="Hide source code & editor"
                        @click:=script.toggleExample payload="{{ example.name }}">
                        {{ example.name }}
                        &times;
                    </button>
                    <mws-Demo
                        demotype="minipreview"
                        fromlibrary='{{ example.name }}'
                    ></mws-Demo>
                </div>
            {% else %}
                <div class="Example">
                    <button class="tool-button" alt="Edit" title="See source code & edit example"
                        @click:=script.toggleExample payload="{{ example.name }}">
                        {{ example.name }}
                        ✎
                       <!--Source-->
                    </button>
                    <div class="Example-wrapper">
                        <eg-{{ example.name }}></eg-{{ example.name }}>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </Template>

    <!--
    <mws-Section name="{{ example.name|lower }}">
        {{ example.name }}
    </mws-Section>
    <mws-Demo
        demotype="minipreview"
        fromlibrary='{{ example.name }}'
    ></mws-Demo>
    -->
    <State
        selected=""
        examples:=[]
    ></State>

    <Script>
        function toggleExample(payload) {
            if (state.selected === payload) {
                state.selected = '';
            } else {
                state.selected = payload;
            }
        }

        function initializedCallback() {
            const eg = getComponentDefs('/libraries/eg.html');
            state.examples = [];
            for (const [ name, content ] of Object.entries(eg)) {
                state.examples.push({ name, content });
            }
            element.rerender();
        }
    </Script>

    <Style>
        :host {
            --colcount: 5;
            display: grid;
            grid-template-columns: repeat(var(--colcount), 1fr);
        }
        :host > .Example {
            border: 1px solid black;
            border-radius: 2px;
            padding: 10px;
            margin: 10px;
            min-height: 200px;
            background: #ddd;
            position: relative;
            margin-top: 50px;
        }
        .Example-wrapper {
            height: 200px;
            overflow-y: auto;
        }

        :host > .Example.expanded {
            background: transparent;
            grid-column: 1 / span var(--colcount);
        }

        :host > .Example .tool-button {
            position: absolute;
            top: -30px;
            height: 30px;
            right: 0px;
            min-width: 80px;
            border-radius: 10px 10px 0 0;
            /*border-bottom: none;*/
            background: #ddd;
        }
        :host > .Example .tool-button:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        @media (max-width: 1550px) {
            :host {
                --colcount: 4;
            }
        }
        @media (max-width: 1250px) {
            :host {
                --colcount: 3;
            }
        }

        @media (max-width: 1160px) {
            :host {
                --colcount: 2;
            }
        }

        @media (max-width: 768px) {
            :host {
                --colcount: 1;
            }
        }
    </Style>
</Component>

