:root {
    --highlight-color: #B90183;
}

.CodeMirror *,
textarea {
  font-family: monospace;
  font-size: 14px;
}

code {
  font-family: monospace;
  border-bottom: 1px dotted var(--highlight-color);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  /*font-family: serif;*/
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.m-Btn,
.m-Btn:visited,
.m-Btn:active,
.m-Btn:hover {
    display: inline-block;
    border: 2px solid black;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-radius: 3px;
    background: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: black;
    padding: 5px;
    text-decoration: none;
    margin-top: 2px;
}

.m-Btn.m-Btn--sm,
.m-Btn.m-Btn--sm:hover {
    font-size: 0.95rem;
    border-bottom-width: 2px;
    padding: 2px;
}

.m-Btn--faded {
    opacity: 0.3;
    transition: opacity 0.2s;
}
.m-Btn--faded:hover {
    opacity: 1.0;
}

.m-Btn:active {
    border-top-width: 3px;
    border-bottom-width: 1px;
}

.m-Btn:hover {
    box-shadow: 0 0 2px var(--highlight-color); /* extremely subtle shadow */
}


.Docs-squareInfo {
    padding: 5px;
    padding-top: 10px;
}
.Docs-squareInfo > h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

nav.Navbar {
    padding-top: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100px;
}

nav.Navbar--docs {
  /*
  height: 50px;
  padding-top: 0;
  border-top: 1px dotted black;
  top: 100px !important;
  position: fixed !important;
  width: 100%;
  */
}

nav.Navbar ul {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

nav.Navbar li {
    margin-left: 50px;
}

nav.Navbar li a {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

nav.Navbar--subbar li a {
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
}

nav.Navbar li a.Navbar--selected {
    text-decoration: overline underline;
}

nav.Navbar--subbar li a.Navbar--selected {
    text-decoration: none;
    color: #B90183;
}

nav.Navbar .Navbar-rightInfo {
    font-size: 12px;
    text-align: left;
    margin-left: 40px;
    /*border: 1px solid black;*/
    padding: 5px;
}

main {
    max-width: 800px;
    margin: auto;
    clear: both;
}
main.Main--fluid {
    max-width: 98%;
    padding-left: 20px;
    padding-right: 20px;
}

section {
    display: flex;
}

aside strong {
    color: #B90183;
}

aside h3 {
    font-size: 30px;
}

aside h3 span {
    font-size: 80px;
    font-weight: bold;
    color: #B90183;
}

aside.TitleAside {
    text-align: right;
}
aside.TitleAside a {
    font-size: 18px;
}


.TitleAside-navigation {
  position: sticky;
  top: 100px;
  left: 0px;
}

.TitleAside--navBar nav {
  text-align: left;
}

@media (max-width: 992px) {
    .TitleAside--navBar {
        position: static;
        width: 100%;
    }
}


aside {
    border: 1px solid black;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
aside:last-of-type {
    margin-right: 0;
}



a {
    color: #000;
}
a:visited {
    color: #666;
}

@media (max-width: 992px) {
    .Hero img:last-child {
        margin-left: -20x;
        max-height: 128px;
    }
    nav.Navbar li {
        font-size: 24px;
        margin-left: 20px;
    }
    nav.Navbar ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}




.Hero {
    /*background: linear-gradient(131deg, #57E617, #BEE617, #83D401, #B90183, #E6178F);*/
    /*background: linear-gradient(131deg, #B90183, #E6178F);*/
    /*background-size: 600% 600%;*/
    background: linear-gradient(131deg, #B90183, rgba(255, 255, 255, 0)),
        url('https://github.com/atlemo/SubtlePatterns/blob/gh-pages/cubes.png?raw=true');
    animation: BGAnimTwo 10s linear infinite;
    text-align: center;
    box-shadow: 0 -10px 10px inset rgba(0, 0, 0, 0.1);
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Hero .dsiabled {
    background: linear-gradient(131deg, #57E617, #BEE617, #83D401, #B90183, #E6178F);
    /*background: linear-gradient(131deg, #B90183, #E6178F);*/
    background-size: 600% 600%;
    animation: BGAnimation 20s ease infinite;
    text-align: center;
    box-shadow: 0 -10px 10px inset rgba(0, 0, 0, 0.1);
}


@keyframes BGAnimTwo {
    0%{background-position:0% 0%}
    100%{background-position: 0% 100%}
}

@keyframes BGAnimation {
    0%{background-position:0% 0%}
    30%{background-position: 0% 100%}
    60%{background-position: 100% 0%}
    80%{background-position: 100% 100%}
    100%{background-position:0% 0%}
}


nav.Navbar {
    padding-top: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    /*box-shadow: 0 50px 50px 2px rgba(255, 255, 255, 1);*/
    border-bottom: 1px solid black;
}

nav.Navbar ul {
    max-width: 800px;
    display: flex;
    justify-content: center;
}


div.IndexWrapper {
    min-height: calc(100vh - 100px);
}

div.IndexWrapper mdu-TabSet {
  margin-top: 10px;
}

@media (min-height: 768px) {
    div.IndexWrapper mdu-TabSet {
        margin-top: 100px;
    }
}

div.Tagline {
    text-align: center;
}
div.Tagline ul {
    width: 500px;
    margin: auto;
}

div.Tagline ul > li {
    text-align: left;
    list-style-type: '>>   ';
}
@media (min-height: 768px) {
    div.Tagline ul {
        margin-top: 50px;
        width: 560px;
    }
    div.Tagline ul > li {
        font-size: 1.3rem;
    }
}

h1.Tagline-title {
    text-align: center;
    font-size: 50px;
    line-height: 1.0;
    /*font-weight: lighter;*/
    font-weight: 800; /* heavy if possible */
    letter-spacing: 10px;
    /*color: black;*/
    /*color: var(--highlight-color);*/
    text-shadow: 0 0 1px var(--highlight-color); /* extremely subtle shadow */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
}

.Tagline-logoimg {
    height: 100px;
}
@media (min-height: 768px) {
    .Tagline-logoimg { height: 150px; }
}

h1.Tagline-logo {
    text-align: center;
    font-size: 200px;
    line-height: 1.0;
    /*text-shadow: 0 0 27px var(--highlight-color);*/
    /*text-shadow: 0 0 5px #000;*/
    text-shadow: 0 0 2px var(--highlight-color); /* extremely subtle shadow */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    background: white;
    font-weight: 300; /* lightest if possible */
}

main {
    max-width: 800px;
    margin: auto;
}

main.give-left-padding > :not(.TitleAside) {
    margin-left: 300px;
}

section {
    display: flex;
}

aside {
    border: 1px solid black;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
aside:last-of-type {
    margin-right: 0;
}


a {
    color: #000;
}
a:visited {
    color: #666;
}

.Docs p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.Docs p:last-of-type {
    margin-bottom: 0;
}

.Docs ul li {
    list-style: disc;
    margin-left: 40px;
}

.Docs .InfoBox {
    border: 1px solid var(--highlight-color);
    padding: 20px;
    display: block;
    position: relative;
    clear: both;
    font-size: 0.95rem;
}

.Docs hr {
    border: 1px solid #888;
    width: 80%;
}

.Docs .InfoBox > h2 {
    color: var(--highlight-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: -10px;
    letter-spacing: 1px;
}

.Docs > h2,
.Docs > * > h2,
.Docs > * > * > h2 {
    /*border-top: 1px solid #888;*/
    /*padding-top: 10px;*/
    width: 80%;
    /*margin-top: 20px;*/
    font-weight: bold;
    font-size: 1.6rem;
}

.Docs h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
}
.Docs h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px;
}

.Docs blockquote {
    max-width: 30%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 1.3;
    font-size: 0.98rem;
}
@media (max-width: 992px) {
    .Docs blockquote {
        max-width: none;
        float: none;
        clear: both;
    }
}

.Docs blockquote > p {
    margin-top: 5px;
    margin-bottom: 0;
}
.Docs blockquote > p:first-child {
    margin-top: 0;
}

.Docs blockquote strong {
    color: var(--highlight-color);
    font-size: 1.1rem;
}

.Docs blockquote strong:first-child::before {
    content: '%   ';
}

.Tutorial-tryit::before {
    content: '';
}
.Tutorial-tryit {
    border: 1px solid var(--highlight-color);
    padding: 20px;
    display: block;
    position: relative;
    clear: both;
}


.Tutorial-tryit h4 {
    color: var(--highlight-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: -10px;
    letter-spacing: 1px;
}

.Docs ol > li {
    list-style: decimal;
    margin-left: 40px;
}

.Docs > h2 {
    counter-increment: h2counter;
    counter-reset: h3counter;
}
.Docs > h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
}
.Docs > h3 {
    counter-increment: h3counter;
}
.Docs > h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

.Docs {
    display: grid;
    grid-template-columns: 350px 1fr;
}
@media (max-width: 992px) {
    .Docs { display: block; }
}

@media (max-width: 992px) {

    .Hero img:last-child {
        margin-left: -20x;
        max-height: 128px;
        margin-bottom: -50px;
    }
    nav.Navbar li {
        font-size: 24px;
        margin-left: 20px;
    }
    nav.Navbar ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    div.Tagline {
        padding: 5px;
    }
    nav.Navbar .Navbar-rightInfo {
        padding: 2px;
        margin-left: 10px;
    }

}

