<module>
    <script>
        // Splits up own source-code to get source for each example
        const myText = Modulo.fetchQ.data[factory.loader.src];
        const componentTexts = {};
        if (myText) {
            let name = '';
            let currentComponent = '';
            let inTestSuite = false;
            for (const line of myText.split('\n')) {
                if (line.startsWith('</component>')) {
                    componentTexts[name] = currentComponent;
                    currentComponent = '';
                    name = null;
                } else if (line.startsWith('<component')) {
                    name = line.split(' name="')[1].split('"')[0];
                } else if (line.startsWith('<testsuite')) {
                    inTestSuite = true;
                } else if (line.includes('</testsuite>')) {
                    inTestSuite = false;
                } else if (name && !inTestSuite) {
                    currentComponent += line + '\n';
                }
            }
        }
        script.exports.componentTexts = componentTexts;
    </script>
</module>

<!-- NOTE / TODO: These are duplicated, present in docs as well. (Should
dedupe and use fromlibrary in docs, and allow fromlibrary to get from here
as well) -->

<component name="Templating_1">
<template>
<p>There are <em>{{ state.count }}
  {{ state.count|pluralize:"articles,article" }}</em>
  on {{ script.exports.title }}.</p>

{# Show the articles #}
{% for article in state.articles %}
    <h4 style="color: blue">{{ article.headline|upper }}</h4>
    {% if article.tease %}
      <p>{{ article.tease|truncate:30 }}</p>
    {% endif %}
{% endfor %}
</template>

<!-- The data below was used to render the template above -->
<state
    count:=42
    articles:='[
      {"headline": "Modulo released!",
       "tease": "The most exciting news of the century."},
      {"headline": "Can JS be fun again?"},
      {"headline": "MTL considered harmful",
       "tease": "Why constructing JS is risky business."}
    ]'
></state>
<script>
    script.exports.title = "ModuloNews";
</script>

<testsuite
    src="./examplelib-tests/Templating_1-tests.html"
></testsuite>

</component>


<component name="Templating_Comments">
<template>
    <h1>hello {# greeting #}</h1>
    {% comment %}
      {% if a %}<div>{{ b }}</div>{% endif %}
      <h3>{{ state.items|first }}</h3>
    {% endcomment %}
    <p>Below the greeting...</p>
</template>

<testsuite>
    <test name="Hides comments">
        <template>
            <h1>hello </h1>
            <p>Below the greeting...</p>
        </template>
    </test>
</testsuite>

</component>



<component name="Templating_Escaping">
<template>
<p>User "<em>{{ state.username }}</em>" sent a message:</p>
<div class="msgcontent">
    {{ state.content|safe }}
</div>
</template>

<state
    username="Little <Bobby> <Drop> &tables"
    content='
        I <i>love</i> the classic <a target="_blank"
        href="https://xkcd.com/327/">xkcd #327</a> on
        the risk of trusting <b>user inputted data</b>
    '
></state>
<style>
    .msgcontent {
        background: #999;
        padding: 10px;
        margin: 10px;
    }
</style>

<testsuite>
    <test name="Escapes HTML, safe works">
        <template>
            <p>User "<em>Little &lt;Bobby&gt; &lt;Drop&gt;
            &amp;tables</em>" sent a message:</p>
            <div class="msgcontent"> I <i>love</i> the classic <a
            target="_blank" href="https://xkcd.com/327/">xkcd #327</a> on
            the risk of trusting <b>user inputted data</b></div>
        </template>
    </test>
</testsuite>

</component>



<component name="Tutorial_P1">
<template>
Hello <strong>Modulo</strong> World!
<p class="neat">Any HTML can be here!</p>
</template>
<style>
/* ...and any CSS here! */
strong {
    color: blue;
}
.neat {
    font-variant: small-caps;
}
</style>

<testsuite>
    <test name="renders as expected">
        <template>
            Hello <strong>Modulo</strong> World!
            <p class="neat">Any HTML can be here!</p>
        </template>
    </test>
</testsuite>


</component>










<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- The remaining components are only being used for adding more tests for
the Modulo framework, not as an example -->
<component name="TestBtn">
    <props
        myclicky
        mytexty
    ></props>
    <template>
        <button @click:=props.myclicky>{{ props.mytexty }}</button>
    </template>
</component>

<component name="CompositionTests">
<template name="comptest2">
    <x-TestBtn
        mytexty="Test text"
        myclicky:=script.gotClickies
    >should be IGNORED</x-TestBtn>
    <p>state.a: {{ state.a }}</p>
</template>

<template name="comptest1">
    Testing
    <x-Tutorial_P1></x-Tutorial_P1>
    <x-Templating_Escaping></x-Templating_Escaping>
</template>

<script>
    function gotClickies(ev, payload) {
        state.a = 1337;
    }
</script>

<!-- just add some random stuff here -->
<state
    a:=1
></state>
<props b></props>

<testsuite
    src="./examplelib-tests/CompositionTests-tests.html"
></testsuite>

</component>



<component name="ReconcilerTester">

<testsuite
    src="./examplelib-tests/ReconcilerTester-tests.html"
></testsuite>

</component>



