
x-MiniExcel {
          border: 2px solid pink;
          overflow: auto;
          max-width: 300px;
          display: block;
          --accent: pink;
      }

x-MiniExcel tr {
          min-height: 1rem;
      }
x-MiniExcel td {
          border: 4px solid gray;
          min-width: 1rem;
      }
x-MiniExcel td.active-row {
          border-bottom-color: var(--accent);
          border-top-color: var(--accent);
      }
x-MiniExcel td.active-col {
          border-left-color: var(--accent);
          border-right-color: var(--accent);
      }
x-MiniExcel td.active-row.active-col {
          background: var(--accent);
      }
  