
<template mod-component="Navbar">
    <script type="modulo/template">
        <nav class="Navbar">
            <a href="index.html"><img src="/img/mono_logo.png" style="height:70px" alt="Modulo" /></a>
            <ul>
                <li>
                    <a href="/index.html#below" {% if props.selected == "about" %}class="Navbar--selected"{% endif %}>About</a>
                </li>
                <li>
                    <a href="/start.html" {% if props.selected == "start" %}class="Navbar--selected"{% endif %}>Start</a>
                </li>
                <li>
                    <a href="/docs.html" {% if props.selected == "docs" %}class="Navbar--selected"{% endif %}>Docs</a>
                </li>
                <li>
                    <a href="/literate/src/Modulo.html" {% if props.selected == "source" %}class="Navbar--selected"{% endif %}>Source</a>
                </li>
            </ul>

            <div class="Navbar-rightInfo">
                v: {{ script.exports.version }}<br />
                SLOC: {{ script.exports.sloc }} lines<br />
                <a href="https://github.com/michaelpb/modulo/">github</a> | 
                <a href="https://npmjs.com/michaelpb/modulo/">npm</a> 
            </div>
        </nav>
    </script>

    <props
        selected
    ></props>

    <script>
        function sloccount() {
            const txt = Modulo.require('fs').readFileSync('./src/Modulo.js', 'utf8');
            return Modulo.require('sloc')(txt, 'js').source;
        }

        function initializedCallback() {
            if (Modulo.isBackend) {
                // Only do once to speed up SSG
                if (!Modulo.ssgStore.navbar) {
                    Modulo.ssgStore.navbar = {
                        version: Modulo.require('../package.json').version,
                        sloc: sloccount(),
                    };
                }
                // Store results in DOM for FE JS
                Object.assign(script.exports, Modulo.ssgStore.navbar);
                element.setAttribute('script-exports', JSON.stringify(script.exports));
            } else {
                // FE JS, retrieve from DOM
                const dataStr = element.getAttribute('script-exports');
                Object.assign(script.exports, JSON.parse(dataStr));
            }
        }
    </script>
</template>

<template mod-component="TabSet">
        <!--{% for tab in element.originalChildren %} {% endfor %}-->
        <!--<h1>Original children:</h1>-->
    <template>
        <nav class="tab-nav">
            <ul>
                {% for tab in state.tabs %}
                    <li class="tab-nav_title
                        {% if tab.title == state.selected %}
                            tab-nav_title__selected
                        {% endif %}
                    "><a href="#">{{ tab.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div
            class="tab-body"
            [component.children]></div>
    </template>
    <style>
        TabSet {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 3px solid var(--highlight-color);
        }
        .tab-nav {
            display: flex;
            width: 100%;
        }
        .tab-nav_title {
            border: 2px solid black;
            border-top-width: 4px;
            border-bottom-width: 0;
            border-radius: 8px;
            background: white;
        }

        .tab-nav_title a,
        .tab-nav_title a:visited,
        .tab-nav_title a:active {
            text-decoration: none;
            color: black;
            display: block;
        }

        .tab-nav_title__selected {
            background: var(--highlight-color);
            box-shadow: 0 0 2px var(--highlight-color);
            border-top-width: 1px;
            border-bottom-width: 3px;
        }
    </style>
    <state
        selected=''
        tabs:='[]'
    ></state>
    <script>
        function initializedCallback() {
            console.log(element.originalChildren);
            //state.selected = element.originalChildren;
            state.tabs = [
                {title: 'Hello Counter'},
                {title: 'Todo List'},
                {title: 'Memory Game'},
            ]
            state.selected = state.tabs[0].title;
        }
    </script>
</template>

<template mod-component="CodeExample">
    <template>
        <div class="split">
            <div modulo-ignore>
                <textarea [script.codemirror]>
                </textarea>
            </div>

            <div>
                <div class="toolbar">
                    <h2>Preview</h2>
                    <button @click:=script.run>Run &#10227;</button>
                </div>
                <div [script.previewspot] class="preview-wrapper">
                    <div modulo-ignore></div>
                </div>
            </div>
        </div>
    </template>

    <style>
        .toolbar {
            display: flex;
            justify-content: space-between;
        }
        .toolbar > button {
            border: 2px solid black;
            border-top-width: 1px;
            border-bottom-width: 3px;
            border-radius: 3px;
            background: white;
            font-weight: lighter;
            text-transform: uppercase;
        }
        .toolbar > button:active {
            border-top-width: 3px;
            border-bottom-width: 1px;
        }
        .toolbar > button:hover {
            box-shadow: 0 0 2px var(--highlight-color); /* extremely subtle shadow */
        }
        .split > div:last-child {
            padding: 20px;
            background: whiteSmoke;
        }
        .split > div:first-child{
            border: 1px solid black;
        }

        .preview-wrapper {
            margin-top: 5px;
            padding: 20px;
            border: 1px solid black;
        }

        .split > div > textarea {
            width: 100%;
            min-height: 200px;
        }
        .split {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        @media (max-width: 992px) {
            .split { display: block; }
        }
    </style>

    <props
        text
        textsrc
    ></props>

    <state 
        nscounter:=1
    ></state>
    <script>
        //console.log('gettin script tagged');
        /* Configure loader: */
        function initializedCallback() {
            //console.log('hey i am getting initialized wow');
            //console.log('initialized callback', element.innerHTML);
            if (Modulo.isBackend) {
                let html = (element.innerHTML || '').trim();
                html = html.replace(/([\w\[\]\._-]+):="(\w+)"/, '$1:=$2'); // clean up due to DOM
                if (props.textsrc) {
                    const html = Modulo.require('fs')
                        .readFileSync('./docs-src/' + props.textsrc, 'utf8');
                    element.setAttribute('text', html);
                } else if (html && !element.getAttribute('text')) {
                    console.log('setting text', html);
                    element.setAttribute('text', html);
                }
            }
        }

        function previewspotMount({el}) {
            element.previewSpot = el.firstElementChild;
            run(); // mount after first render
        }

        function codemirrorMount({el}) {
            if (Modulo.globals.CodeMirror) {
                //console.log('this is props', props);
                element.codeMirrorEditor = CodeMirror.fromTextArea(el, {
                    lineNumbers: true,
                    mode: 'django',
                    theme: 'eclipse',
                    indentUnit: 4,
                });
                element.codeMirrorEditor.setValue(props.text.trim());
                element.codeMirrorEditor.refresh();
                window.codeMirrorEditor = element.codeMirrorEditor;
                el.setAttribute('modulo-ignore', 'y');
            } else {
                console.log('Code mirror not found'); // probably SSG
            }
        }

        function run() {
            if (!Modulo.globals.CodeMirror) {
                return;
            }
            const namespace = `eg${state.nscounter}`; // TODO: later do hot reloading using same loader
            state.nscounter++;
            const loadOpts = {src: '', namespace};
            const loader = Object.assign(new Modulo.Loader, loadOpts);
            const tagName = 'Example';
            let text = element.codeMirrorEditor.getValue();
            text = `<template mod-component="${tagName}">${text}</template>`;
            //console.log('Creating component from text:', text)
            loader.loadString(text);
            const tag = `${namespace}-${tagName}`;
            const preview = `<${tag}></${tag}>`;
            element.previewSpot.innerHTML = preview;
            //document.querySelector('#previewSpot').innerHTML = preview;
            //console.log('adding preview', preview);
        }
    </script>
</template>



<template mod-component="Link">
    <script>
        if (Modulo.require) {
            // is SSG
        }
    </script>
</template>


<template mod-component="Hero">
    <template>
        <div>
            <img src="./img/logo_sans_stroke_white.png" alt="Percent sign logo" />
            <br />
            <img src="./img/text_logo.png" alt="Modulo.js" />
        </div>
    </template>
    <style>
      h1 {
          font-size: 120px;
          color: rgba(255, 255, 255, 1);
          /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
          /*text-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);*/
          text-shadow: 0px -3px 0 rgba(0, 0, 0, 0.3);
          font-weight: bold;
          height: 120px;
      }
      img:first-child {
          margin-bottom: -40px;
          margin-top: 50px;
          max-width: 256px;
      }

      img:last-child {
          margin-bottom: -62px;
          margin-top: 50px;
          z-index: 1;
          position: relative;
          max-width: none;
          height: 196px;
      }

      div {
          /*background: linear-gradient(131deg, #57E617, #BEE617, #83D401, #B90183, #E6178F);*/
          /*background: linear-gradient(131deg, #B90183, #E6178F);*/
          /*background-size: 600% 600%;*/
          background: linear-gradient(131deg, #B90183, rgba(255, 255, 255, 0)),
              url('https://github.com/atlemo/SubtlePatterns/blob/gh-pages/cubes.png?raw=true');
          /*animation: BGAnimTwo 10s linear infinite;*/
          text-align: center;
          box-shadow: 0 -10px 10px inset rgba(0, 0, 0, 0.1);
      }

      div .dsiabled {
          background: linear-gradient(131deg, #57E617, #BEE617, #83D401, #B90183, #E6178F);
          /*background: linear-gradient(131deg, #B90183, #E6178F);*/
          background-size: 600% 600%;
          animation: BGAnimation 20s ease infinite;
          text-align: center;
          box-shadow: 0 -10px 10px inset rgba(0, 0, 0, 0.1);
      }
    </style>
</template>


<template mod-component="Todo">
    <template>
        <ol>
            <li><h1>To Do!</h1></li>
            {% for item in state.list %}
                <li>{{ item }}</li>
            {% endfor %}
            <li>
                <input [state.bind] name="text" />
                <button @click:=script.addItem>
                    Add "{{ state.text }}"
                </button>
            </li>
        </ol>
    </template>
    <state
        list:='["Milk", "Bread", "Candy"]'
        text="Beer"
    ></state>
    <script>
        function addItem() {
            state.list.push(state.text);
            state.text = '';
        }
    </script>
</template>


<template mod-component="NestingTest">
    <template>
        <div>
            <my-ChildComponent clickme:=script.gotClicked txt="Click me! :)">
            </my-ChildComponent>
        </div>
    </template>
    <script>
        function gotClicked() {
            component.wasClicked = true;
        }
    </script>
</template>

<template mod-component="ChildComponent">
    <template>
        <button @click:=props.clickme>
            {{ props.txt }}
        </button>
    </template>
    <props
      clickme:=Function
      txt:=String
    ></props>
</template>
