<component name="Button">
    <props
        label
        shape
    ></props>
    <template>
        <button class="my-btn my-btn_{{ props.shape }}">
            {{ props.label }}
        </button>
    </template>
</component>




<!--  dead code - - v          -->
<component name="TutNav">
    <props
        selected
    ></props>
    <template>
        <nav class="Navbar Navbar--subbar">
            <ul>
                {#<li>Props: '{{ props.selected }}'</li>#}
                {% for row in state.items %}
                    <li>
                        <a href="{{ row|get:0 }}"
                          class="
                            {% if props.selected == row|get:2 %}Navbar--selected{% endif %}
                          ">{{ row|get:1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </template>
    <state
        items:='[
            ["/start.html", "The Modulo Tutorial", 0],
            ["/start/tutorial1.html", "1. Components, CParts, Loaders", 1],
            ["/start/tutorial2.html", "2. Templating Language, Props", 2],
            ["/start/tutorial3.html", "3. Script, State", 3]
        ]'
    ></state>
</component>

<component name="DocSidebar">

<props
    path
    showall
></props>

<template>
<ul>
    {% for linkGroup in script.exports.menu %}
        <li class="
            {% if linkGroup.children %}
                {% if linkGroup.active %}gactive{% else %}ginactive{% endif %}
            {% endif %}
            "><a href="{{ linkGroup.filename }}">{{ linkGroup.label }}</a>
            {% if linkGroup.active %}
                {% if linkGroup.children %}
                    <ul>
                    {% for childLink in linkGroup.children %}
                        <li><a
                          href="{{ linkGroup.filename }}#{{ childLink.hash }}"
                            >{{ childLink.label }}</a>
                        {% if props.showall %}
                            {% if childLink.keywords.length gt 0 %}
                                <span style="margin-left: 10px; color: #aaa">(<em>Topics: {{ childLink.keywords|join:', ' }}</em>)</span>
                            {% endif %}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}


    <li>
        Other resources:

        <ul>
            <li>
                <a href="/docs/faq.html">FAQ</a>
            <li title="Work in progress: Finalizing source code and methodically annotating entire file with extensive comments.">
                <!--<a href="/literate/src/Modulo.html">Literate source</a>-->
                Literate Source*<br /><em>* Coming soon!</em>
            </li>
        </ul>

    </li>
</ul>
</template>

<script>
    function _child(label, hash, keywords=[]) {
        if (!hash) {
            hash = label.toLowerCase()
        }
        return {label, hash, keywords};
    }
    const {componentTexts} = Modulo.factoryInstances['eg-eg'].baseRenderObj.script.exports;
    script.exports.menu = [
        {
            label: 'Table of Contents',
            filename: '/docs.html',
        },

        {
            label: 'Tutorial',
            filename: '/docs/tutorial.html',
            children: [
                _child('Part 1: Components, CParts, Loaders', 'part1', ['cdn', 'module-embed']),
                _child('Part 2: Props and Templating', 'part2', ['cparts', 'props', 'basic templating']),
                _child('Part 3: State and Script', 'part3', ['state', 'basic scripting']),
            ],
        },

        {
            label: 'CParts',
            filename: '/docs/cparts.html',
            children: [
                _child('Component'),
                _child('Props'),
                _child('Template'),
                _child('State'),
                _child('Script'),
                _child('Style'),
                _child('Custom CParts API', 'custom'),
            ],
        },

        {
            label: 'Templating',
            filename: '/docs/templating.html',
            children: [
                _child('Templates', null, ['templating philosophy', 'templating overview']),
                _child('Variables', null, ['variable syntax', 'variable sources', 'cparts as variables']),
                _child('Filters', null, ['filter syntax', 'example filters']),
                _child('Tags', null, ['template-tag syntax', 'example use of templatetags']),
                _child('Comments', null, ['syntax', 'inline comments', 'block comments']),
                _child('Escaping', null, ['escaping HTML', 'safe filter', 'XSS injection protection']),
            ],
        },

        {
            label: 'Testing & Debugging',
            filename: '/docs/testing.html',
            children: [
                _child('Debugger'),
                _child('Test Suites'),
                _child('Test Setup'),
                _child('Assertions'),
            ],
        },
        {
            label: 'Lifecycle & Directives',
            filename: '/docs/directives.html',
            children: [
                _child('Lifecycle', 'lifecycle'),
                _child('renderObj', 'renderobj'),
                _child('Directives', 'directives'),
                //_child('Built-in directives', 'builtin'),
            ],
        },

        {
            label: 'Template Reference',
            filename: '/docs/template_reference.html',
            children: [
                _child('Built-in Filters', 'filters'),
                _child('Built-in Template Tags', 'tags'),
                _child('Custom Filters', 'customfilters'),
                _child('Custom Template Tags', 'customtags'),
            ],
        },

        {
            label: 'Example Library',
            filename: '/docs/example_library.html',
            children: Object.keys(componentTexts).map(name => _child(name)),
        },
    ];

    function initializedCallback() {
        const {isBackend, ssgCurrentOutputPath} = Modulo;
        let path;
        if (isBackend) {
            path = ssgCurrentOutputPath;
            element.setAttribute('path', path);
        } else {
            path = props.path;
        }
        for (const groupObj of script.exports.menu) {
            if (props.showall) {
                groupObj.active = true;
            }
            if (groupObj.filename && path.endsWith(groupObj.filename)) {
                groupObj.active = true;
            }
        }
    }
</script>

<style>
  li {
      margin-left: 20px;
  }
  /*
  li.ginactive > ul::before,
  li.gactive > ul::before {
      content: ' - ';
      background: var(--highlight-color);
      color: white;
      text-decoration: none;
  }
  */
  li.ginactive > a::before {
      content: '+ ';
  }
</style>

</component>




<component name="DocExampleLib">

<template>
    {% for example in script.exports.examples %}
        {# not good, not namespaced #}
        <mdu-Section name="{{ example.name|lower }}">
            {{ example.name }}
        </mdu-Section>
        <mdu-CodeExample
            text='{{ example.content }}'
        ></mdu-CodeExample>
    {% endfor %}
</template>

<script>
    const {componentTexts} = Modulo.factoryInstances['eg-eg'].baseRenderObj.script.exports;
    script.exports.examples = [];
    for (const [name, content] of Object.entries(componentTexts)) {
        //console.log("dis is conent", content);
        script.exports.examples.push({name, content});
    }
    //console.log('exports', script.exports);
    //function codeExampleMount(el) {
    //}

</script>

<style>
</style>

</component>



      <!--
    <li>Directives
      <ul>
          <li>Built-ins</li>
          <li>Extending</li>
          <li>API Reference</li>
          <li>Filters</li>
          <li>Template-tags</li>
      </ul>
    </li>
      -->
